body{
    background-color: azure;
}

#heading{
    margin:auto;
    text-align: center;
}

#table{
    margin-left:33%;
    position: absolute;
    z-index: 2;
}
#hTable{
    margin-left:33%;
    position: absolute;
    z-index: 1;
}

.tableCell, .hTableCell{
    width:70px;
    height:70px;
    border:2px solid;
    border-color: wheat;
    text-align: center;
}